:root {
    --verde1: #7d9900;
    --cinza1: #96998a;
    --verde2: #5f663e;
    --cinza2: #4B4D45;
    --bege: #e1e6cf;
    --preto: #0a0a0a;
    --branco: #f1f1f1;
    --titulo1: 600 32px Inter, sans-serif;
    --titulo2: 600 24px Inter, sans-serif;
    --titulo3: 500 20px Inter, sans-serif;
    --titulo-tabela: 500 16px Inter, sans-serif;
    --body0: 400 20px Inter, sans-serif;
    --body1: 600 12px Inter, sans-serif;
    --body2: 400 12px Inter, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: var(--branco);
    color: var(--preto);
}

header {
    background: var(--cinza1, #96998A);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 24px;
}

h1 {
    font: var(--titulo1)
}

h2 {
    font: var(--titulo2);
    margin-bottom: 8px;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 55px;
    margin: 32px auto 40px auto;
    width: fit-content;
}

nav a {
    text-decoration: none;
    color: black;
    font: var(--titulo2);
    padding: 8px;
}

nav a.active {
    border-bottom: 4px solid #7D9900;
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 52px;
    margin: 0 64px;
  }
  
  .card {
    background-color: var(--branco);
    border-radius: 4px;
    margin-bottom: 48px;
  }
  
  

  table {
    width: 100%;
    border-collapse: collapse;
    font: var(--body2);
  }
  
  th, td {
    border: 1px solid var(--cinza2, #4B4D45);
    padding: 10px 12px;
    text-align: left;
  }

  table tr.titulo-grande {
    background-color: var(--verde2, #7d9900);
    color: var(--branco, #f1f1f1);
    font: var(--titulo-tabela);
  }

  table tr.titulo-menor {
    background-color: #CDCFC5;
    color: var(--preto);
    font: var(--body1);
  }



.form-container {
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 32px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font: var(--body0);
}

.escolher-cadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escolher-cadastro label {
    display: inline;
    margin-bottom: 0;
}

select {
    width: 60%;
    padding: 8px 16px;
    background-color: #e7ecd2;
    border: none;
    border-radius: 4px;
    font: var(--body0);
}

input {
    width: 100%;
    padding: 8px 16px;
    background-color: #e7ecd2;
    border: none;
    border-radius: 4px;
    font: var(--body2);
    box-sizing: border-box;
}

span {
    font: var(--body0);
}

.adicionar-tipo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.adicionar-tipo button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.submit-btn {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--verde1);
    color: white;
    border: none;
    border-radius: 8px;
    font: var(--titulo3);
    cursor: pointer;
    margin-bottom: 48px;
}

.submit-btn:hover {
    background-color: var(--verde2);
}


.campo-tipo-conflito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    gap: 16px;
}

.tipo-conflito {
    font: var(--body2);
}

.remover-tipo {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    /* border: 2px solid red; */
    border: none;
    border-radius: 4px;
    color: var(--cinza2);
    font: var(--body1);
    cursor: pointer;
}

.chaves-select {
    width: 100%;
    font: var(--body2);
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centraliza */
    z-index: 9999;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    min-width: 250px;
    background-color: #d4edda; /* cor de fundo do alerta */
    color: #155724;           /* cor do texto */
    border: 1px solid #c3e6cb;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font: var(--body0);
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font: var(--body2);
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font: var(--body2);
}