{% extends 'cadastrar.html' %}
{% block title %}
Cadastrar Conflito
{% endblock %}

{% block main %}
<form action="/cadastrar/chefe" method="post" id="form-cadastrar-chefe">
<div class="form-group escolher-cadastro">
    <label for="tipo">Adicionar:</label>
    <select id="tipo" onchange="redirecionarCadastro()">
      <option selected value="chefe">Chefe Militar</option>
      <option value="conflito">Conflito Bélico</option>
      <option value="divisao">Divisão</option>
      <option value="grupos">Grupos Militares</option>
      <option value="lideres">Líderes Políticos</option>
    </select>
  </div>

  <div class="form-group">
    <label for="id-divisao">Escolher Líder que comanda*:</label>
    <select id="lider" name="nome_lider" class="chaves-select" onchange="redirecionarGrupoArmado(this)">
      {% for lider in lideres_e_grupos %}
      <option value="{{ lider[0] }}|{{ lider[1] }}">{{ lider[0] }}, {{ lider[1] }}</option>
      {% endfor %}
      <option value="adicionar_grupo">&#x2795; Adicionar Líder</option>
    </select>
  </div>

  <div class="form-group">
    <label for="faixas">Faixa Hierárquica:*</label>
    <input type="text" id="faixas" name="faixas" placeholder="Digite a faixa hierárquica: tenente, general etc..." />
  </div>

  <div class="form-group">
    <label for="id-divisao">Escolher Divisão que comanda*:</label>
    <select id="divisao" name="id_divisao" class="chaves-select" onchange="redirecionarGrupoArmado(this)">
      {% for nome in nomes_divisoes %}
      <option value="{{ nome[1] }}|{{ nome[0] }}"> Divisão {{ nome[1] }} do grupo {{ nome[0] }}</option>
      {% endfor %}
      <option value="adicionar_grupo">&#x2795; Adicionar Divisão</option>
    </select>
  </div>


  <button type="submit" class="submit-btn" onclick="adicionarChefe()">Adicionar Chefe</button>
</form>

  <script>
    function redirecionarGrupoArmado(select) {
      if (select.value === "adicionar_grupo") {
        window.location.href = "{{ url_for('cadastrar_divisao') }}";
      }
    }
  </script>
  {% endblock %}