{% extends 'cadastrar.html' %}
{% block title %}
Cadastrar Conflito
{% endblock %}

{% block main %}
<div class="form-group escolher-cadastro">
    <label for="tipo">Adicionar:</label>
    <select id="tipo" onchange="redirecionarCadastro()">
      <option selected value="chefe">Chefe Militar</option>
      <option value="conflito">Conflito Bélico</option>
      <option value="divisao">Divisão</option>
      <option value="grupos">Grupos Militares</option>
      <option value="lideres">Líderes Políticos</option>
    </select>
  </div>

  <div class="form-group">
    <label for="nome_lider">Escolher Nome Líder Político (PK da outra tabela):*</label>
    <input type="text" id="nome_lider" placeholder="Digite o nome do líder" />
  </div>

  <div class="form-group">
    <label for="barcos">Digite ID do Grupo do Líder Político:*</label>
    <input type="text" id="barcos" placeholder="Digite o número de barcos" />
  </div>

  <div class="form-group">
    <label for="faixas">Faixas Hierárquicas:*</label>
    <input type="text" id="faixas" placeholder="Digite a faixa hierárquica: tenente, general etc..." />
  </div>

  <div class="form-group">
    <label for="divisao">Digite o ID da Divisão:*</label>
    <input type="number" id="divisao" placeholder="Digite o id da divisão" />
  </div>

  <div class="form-group">
    <label for="avioes">Digite o ID do Grupo Armado da Divisão:*</label>
    <input type="number" id="avioes" placeholder="Digite o número de aviões" />
  </div>


  <button class="submit-btn" onclick="adicionarConflito()">Adicionar Conflito</button>
  {% endblock %}