<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
  <header>
    <img src="{{url_for('static', filename='imagens/logo-onu-certa.png')}}" alt="Logo da ONU">
    <h1>Bem-vindo!</h1>
  </header>

  <nav>
    <a href="{{url_for('index')}}">Visualizar</a>
    <a href="{{url_for('cadastrar')}}" class="active">Cadastrar</a>
  </nav>

  <main class="form-container">
    {% block main %}
    {% endblock %}
  </main>

  <script src="js/cadastrar.js"></script>
</body>
</html>
