{% extends 'cadastrar.html' %}
{% block title %}
Cadastrar Divisão
{% endblock %}

{% block main %}
<div class="form-group escolher-cadastro">
    <label for="tipo">Adicionar:</label>
    <select id="tipo" onchange="redirecionarCadastro()">
      <option selected value="divisao">Divisão</option>
      <option value="conflito">Conflito Bélico</option>
      <option value="grupos">Grupos Militares</option>
      <option value="lideres">Líderes Políticos</option>
      <option value="chefe">Chefe Militar</option>
    </select>
  </div>

  <div class="form-group">
    <label for="tipo">Escolher Grupo Armado*:</label>
    <select id="tipo" class="chaves-select">
      {% for nome in nomes_grupos %}
      <option value="{{ nome[0] }}">{{ nome[1] }}</option>
      {% endfor %}
      <option value="adicionar_grupo">&#x2795; Adicionar Grupo Armado</option>
    </select>
  </div>

  <div class="form-group">
    <label for="barcos">Barcos:*</label>
    <input type="number" id="barcos" placeholder="Digite o número de barcos" />
  </div>

  <div class="form-group">
    <label for="homens">Homens:*</label>
    <input type="number" id="homens" placeholder="Digite o número de homens" />
  </div>

  <div class="form-group">
    <label for="tanques">Tanques:*</label>
    <input type="number" id="tanques" placeholder="Digite o número de tanques" />
  </div>

  <div class="form-group">
    <label for="avioes">Aviões:*</label>
    <input type="number" id="avioes" placeholder="Digite o número de aviões" />
  </div>

  <div class="form-group">
    <label for="baixas">Baixas:*</label>
    <input type="number" id="baixas" placeholder="Digite o número de baixas" />
  </div>

  <button class="submit-btn" onclick="adicionarConflito()">Adicionar Conflito</button>

  {% endblock %}