<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Visualizar Conflitos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='imagens/logo-onu-certa.png') }}" alt="Logo da ONU">
    <h1>Bem-vindo!</h1>
  </header>

  <nav>
    <a href="index.html" class="active">Visualizar</a>
    <a href="cadastrar/conflito">Cadastrar</a>
  </nav>

  <main class="grid">
    <section class="card chart">
      <h2>Tipo de conflito mais recorrente</h2>
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </section>

    <section class="card">
      <table>
        <tr class="titulo-grande"><th colspan="2">Traficantes e Grupos Armados</th></tr>
        <tr class="titulo-menor"><th>Traficante</th><th>Grupo Armado</th></tr>
        {% for traficante_e_grupo in traficantes_e_grupos %}
        <tr><td>{{ traficante_e_grupo[0] }}</td><td>{{ traficante_e_grupo[1] }}</td></tr>
        {% endfor %}
      </table>
    </section>

    <section class="card">
      <table>
        <tr class="titulo-grande"><th colspan="2">Grupos Armados com mais armas fornecidas</th></tr>
        <tr class="titulo-menor"><th>Nome</th><th>Quantidade de Arma Fornecido</th></tr>
        {% for grupo_armado in grupos_armados %}
        <tr><td>{{ grupo_armado[0] }}</td><td>{{ grupo_armado[1] }}</td></tr>
        {% endfor %}
      </table>
    </section>

    <section class="card">
      <table>
        <tr class="titulo-grande"><th colspan="3">Maiores conflitos em número de mortos</th></tr>
        <tr class="titulo-menor"><th>Conflito</th><th>Nmº de mortes</th><th>Nmº de feridos</th></tr>
        {% for conflito in maiores_conflitos %}
        <tr><td>{{ conflito[0] }}</td><td>{{ conflito[1] }}</td><td>{{ conflito[2] }}</td></tr>
        {% endfor %}  
      </table>
    </section>

    <section class="card">
      <table>
        <tr class="titulo-grande"><th colspan="3">Maiores organizações em mediações</th></tr>
        <tr class="titulo-menor"><th>Nome</th><th>Tipo</th><th>Número</th></tr>
        {% for org in organizacoes_mediadoras %}
        <tr><td>{{ org[0] }}</td><td>{{ org[1] }}</td><td>{{ org[2] }}</td></tr>
        {% endfor %} 
      </table>
    </section>

    <section class="card">
      <table>
        <tr class="titulo-grande"><th colspan="2">País com mais conflitos religiosos</th></tr>
        <tr class="titulo-menor"><th>País</th><th>Números de Conflitos</th></tr>
        <tr><td>{{ pais[0][0] }}</td><td>{{ pais[0][1] }}</td></tr>
      </table>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script> const graf = {{ grafico | tojson}}; </script>
  <script src="{{ url_for('static', filename='js/visualizar.js') }}"></script>
</body>
</html>
